<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>country info</title>
</head>
<body>
    <h2>{{>header}}</h2>
    <form  >
    <h2> {{title}}</h2>
    <h2>{{CountryName}} syria</h2>
    <h2>{{latitude}} 38.50559189697</h2>
    <h2>{{longtitude}} 35.0130478400731 </h2>
    <h2>{{cweather}} its Sunny</h2>
    </form>

    

</body>
</html>